* {
  /* устанавливаем отступы внутри элементов в 0 и внешние отступы тоже в 0 */
  padding: 0;
  margin: 0;
  /* Box-sizing: border-box применяется для учета границы и внутреннего отступа в общей ширине элемента */
  box-sizing: border-box;
}

#addForm {
  /* максимальную ширину блока на 700 пикселей */
  max-width: 700px;
  /* внутренний отступ в 20 пикселей вокруг содержимого блока */
  padding: 20px;
  /* граница толщиной 2 пикселя и черного цвета */
  border: 2px solid black;
  /* внешний отступ сверху и снизу блока на 40 пикселей, слева и справа - автоматический (центрирование) */
  margin: 40px auto;
  /* режим отображения блока как flex */
  display: flex;
  /* распределяем пространство между элементами по горизонтали (слева и справа) */
  justify-content: space-between;
  /* Выравниваем элементы flex-container по концу (нижнему краю) по вертикали */
  align-items: flex-end;
}

#addForm input,
#addForm select {
  /* внутренний отступ вокруг содержимого 5 пикселей */
  padding: 5px;
  /* устанавливаем ширину элементов ввода на 150 пикселей */
  width: 150px;
  /* граница элементов толщиной 2 пикселя, черного цвета */
  border: 2px solid black;
  height: 30px;
}

#addForm button {
  /* внутренний отступ вокруг содержимого 5 пикселей */
  padding: 5px;
  /* граница кнопки толщиной 2 пикселя, черного цвета */
  border: 2px solid black;
  /* устанавливаем прозрачный фон кнопки */
  background-color: transparent;
  height: 30px;
}

#addForm .field p {
  /* внешний отступ снизу текстового абзаца 5 пикселей */
  margin-bottom: 5px;
}
